@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.hover-li:hover div {
  visibility: visible;
}

.mega-list:hover + .absolute,
.mega-list:focus-visible + .absolute {
  visibility: visible;
}

.mega-list:hover .drop-aimation {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.img-wrapper:hover #product-one-icon {
  transform: translateY(-50%) translateX(50%);
  opacity: 1;
  visibility: visible;
}

@layer components {
  .link {
    @apply py-3 px-[15px] inline-block text-[13px] cursor-pointer hover:underline;
  }

  .mega-link {
    @apply py-[3px] inline-block text-[13px] cursor-pointer hover:underline;
  }

  .mega-heading-link {
    @apply text-[1rem] font-[700] pb-1 cursor-pointer hover:underline tracking-wider;
  }

  .mega-about-heading-link {
    @apply text-[17px] font-[700] pb-1 pr-[40px] cursor-pointer hover:underline tracking-wider;
  }

  .search-border {
    @apply border border-black;
  }

  .mega-list {
    @apply hover-li hover:bg-white hover:text-black text-white flex flex-col items-center;
  }
}
